In [1]:
import pandas as pd

bank_dataset = pd.read_csv('exp5.csv')

print(bank_dataset.head())

   age  job  marital  education  default  housing  loan  contact  month  \
0   56    3        1          0        0        0     0        1      6
1   57    7        1          3        0        0     0        1      6
2   37    7        1          3        0        1     0        1      6
3   40    0        1          1        0        0     0        1      6
4   56    7        1          3        0        0     1        1      6

   day_of_week  duration  campaign  pdays  previous  poutcome  y  \
0            1       261         1    999         0         1  0
1            1       149         1    999         0         1  0
2            1       226         1    999         0         1  0
3            1       151         1    999         0         1  0
4            1       307         1    999         0         1  0

   age_normalized
0        1.690550
1        1.794158
2       -0.278011
3        0.032815
4        1.690550

In [2]:
dummy_dataset = bank_dataset.copy()

print(dummy_dataset.head())

   age  job  marital  education  default  housing  loan  contact  month  \
0   56    3        1          0        0        0     0        1      6
1   57    7        1          3        0        0     0        1      6
2   37    7        1          3        0        1     0        1      6
3   40    0        1          1        0        0     0        1      6
4   56    7        1          3        0        0     1        1      6

   day_of_week  duration  campaign  pdays  previous  poutcome  y  \
0            1       261         1    999         0         1  0
1            1       149         1    999         0         1  0
2            1       226         1    999         0         1  0
3            1       151         1    999         0         1  0
4            1       307         1    999         0         1  0

   age_normalized
0        1.690550
1        1.794158
2       -0.278011
3        0.032815
4        1.690550

In [7]:
from scipy import  stats

data = bank_dataset['age_normalized']

data.head()

0    1.690550
1    1.794158
2   -0.278011
3    0.032815
4    1.690550
Name: age_normalized, dtype: float64

In [8]:
stats.ttest_1samp(data, 0)

TtestResult(statistic=-3.9761067490138844, pvalue=7.012001456212137e-05, df=73095)

In [9]:
stats.ttest_1samp(data, 1)

TtestResult(statistic=-255.89491914348235, pvalue=0.0, df=73095)

In [10]:
data2 = bank_dataset['y']
stats.ttest_1samp(data2, 0)

TtestResult(statistic=270.36086994977654, pvalue=0.0, df=73095)