In [1]:
import pandas as pd

bank_dataset = pd.read_csv('exp5.csv')
bank_dataset.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y,age_normalized
0,56,3,1,0,0,0,0,1,6,1,261,1,999,0,1,0,1.690550
1,57,7,1,3,0,0,0,1,6,1,149,1,999,0,1,0,1.794158
2,37,7,1,3,0,1,0,1,6,1,226,1,999,0,1,0,-0.278011
3,40,0,1,1,0,0,0,1,6,1,151,1,999,0,1,0,0.032815
4,56,7,1,3,0,0,1,1,6,1,307,1,999,0,1,0,1.690550

In [2]:
from sklearn.datasets import make_classification
X, y = make_classification(n_classes=2, class_sep=0.5,
weights=[0.05, 0.95], n_informative=2, n_redundant=0, flip_y=0,
n_features=2, n_clusters_per_class=1, n_samples=1000, random_state=10)

In [3]:
from sklearn.model_selection import train_test_split
  
# split into 75:25 ratio
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [4]:
#KNN classifer
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier() 
model.fit(X_train, y_train) 
y_pred = model.predict(X_test) 
#Accuracy and Confusion matrix
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(accuracy_score(y_test, model.predict(X_test))) 
cm

0.98

array([[ 10,   5],
       [  0, 235]], dtype=int64)

In [7]:
#Naive Bayes Classifier
bank_dataset_copy = bank_dataset.copy()
x = bank_dataset_copy.drop(["y"], axis = 1)
Y = bank_dataset_copy.y.values
from sklearn.model_selection import train_test_split
  
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, Y, test_size = 0.3, random_state = 42)
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train, y_train)
print("Naive Bayes score: ",nb.score(x_test, y_test))

Naive Bayes score:  0.7065073646769119

In [8]:
#split dataset in features and target variable
feature_cols = ['age'   , 'duration' , 'campaign' , 'pdays' , 'previous', 'loan', 'housing',  'marital', 'education', 'job', 'contact', 'month', 'poutcome']
X = bank_dataset_copy[feature_cols] # Features
y = bank_dataset_copy.y # Target variable

In [9]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [10]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [11]:
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9565871676775046